# DataRoot University DS100 Test #2 Second Try
На проходження тесту виділяється 59 хвилин.

## Python

### 1.  Напишіть ф-цію - генератор паролів. Будьте креативними в тому, як ви створюєте паролі - сильні паролі містять малі та великі літери, цифри та символи. Паролі повинні бути випадковими. Ф-ція повинна створювати новий пароль кожного разу при її виклику. Ф-ція приймає параметр n (n > 6), який відповідає за довжину паролю.

```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [15]:
import string
import random

def password(n):
    if n <= 6:
        return "Password is too short"
    
    return ''.join(random.choice(string.ascii_letters) for x in range(n))

password(7)

'QvPeRTl'

### 2.  Реалізуйте ф-цію, яка перевіряє, чи є слово паліндромом:

```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [19]:
def is_pal(word):
    if word == word[::-1]:
        return True
    return False

is_pal('ada')

True

### 3. Напишіть програму, яка приймає 2 невід'ємні цифри, X, Y як вхід і генерує 2-мірний масив. Значення елемента в i-му рядку і j-му стовпчику масиву має бути i * j, де i = 0, 1 .., X-1; j = 0, 1, .., Y-1.

Приклад:
Припустімо, що до програми наведені наступні входи:
3,5. 
Виходом програми має бути:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

In [34]:
def gen_mas(x,y):
    a = []
    l = []
    for i in range(x):
        for j in range(y):
            l.append(i*j)
        a.append(l)
        l = []
        
    return a

gen_mas(3,5)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

### 4. Реалізуйте клас Torus, який створюється за двома радіусами r, R, R > r. Містить два методи, які повертають відповідно: площу поверхні та об'єм.

```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 6хв
```

In [39]:
import math

class Torus:
    
    def __init__( self, r=0, R=0):
        self.r = r
        self.R = R

    def v(self):
        return 2*self.R*(math.pi**2)*(self.r**2)
    
    def a(self):
        return 4*self.r*self.R*(math.pi**2)
    
pt1 = Torus(4,2)
print(pt1.a())

315.82734083485946

### 5.  Реалізуйте декоратор, який засікає час виконання ф-ції та логує його.

```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 6хв
```

## Libraries: numpy, scipy, pandas, matplotlib

### Numpy

### 6. Помножте масив розмірності (5, 5, 3), на масив розмірності (5,5).
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 3хв
```

In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp
%matplotlib inline

In [46]:
x = np.random.randn(5, 5, 3)
#print(x)
y = np.random.randn(5, 5)
#print(y)
s = np.dot(x, y)
s

ValueError: shapes (5,5,3) and (5,5) not aligned: 3 (dim 2) != 5 (dim 0)

### 7. Поверніть з 2-вимірного масиву лінійно незалежні рядки.
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 6хв
```

### 8. Створіть випадковий вектор розміру 20 і замініть мінімальне за модулем значення на 0
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 3хв
```

In [47]:
vec = np.random.random(20)
print(vec)
vec[np.argmin(vec)] = 0
print(vec)

[ 0.73750605  0.34953546  0.10777088  0.54161468  0.89050548  0.31908951
  0.94872052  0.64469052  0.67695728  0.8816995   0.1108735   0.83681812
  0.61976138  0.78367408  0.22774476  0.96900001  0.7490197   0.09386066
  0.80618481  0.73144552]
[ 0.73750605  0.34953546  0.10777088  0.54161468  0.89050548  0.31908951
  0.94872052  0.64469052  0.67695728  0.8816995   0.1108735   0.83681812
  0.61976138  0.78367408  0.22774476  0.96900001  0.7490197   0.
  0.80618481  0.73144552]

### Pandas

### 9. Скажімо, є DataFrame df зі стовпчиком "A" цілих чисел. Наприклад:

In [41]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})

Відфільтруйте рядки, які містять таке ж число, як рядок, що безпосередньо вище.
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 3хв
```

In [48]:
df

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7

In [77]:
#l=[]
#for i in df['A']:
#    print(i)
    #print([df.iloc[i] == df.iloc[i-1]])
    #print(df.iloc[i])
    #if [df.iloc[i] == df.iloc[i-1]]:
     #   print([df.iloc[i] == df.iloc[i-1]])
      #  l.append(i)
    
#print(l)
    
#df.loc[df['column_name'] == some_value]

#len([df.iloc[1] == df.iloc[0]])
#df['STK_ID'].isin([i-1])

df.drop_duplicates()

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

### 10. Скажімо, є DataFrame df з числовими значеннями:

In [78]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.980016  0.375728  0.632333
1  0.352153  0.385618  0.368878
2  0.561305  0.816684  0.560543
3  0.133424  0.189961  0.350604
4  0.764267  0.099096  0.376742

Відніміть середнє значення рядку від кожного елементу у відповідному рядку.
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 3хв
```

In [80]:
df - df.mean()

          0         1         2
0  0.421783  0.002311  0.174513
1 -0.206080  0.012200 -0.088942
2  0.003072  0.443266  0.102723
3 -0.424809 -0.183456 -0.107216
4  0.206035 -0.274322 -0.081078

### 11. Є DataFrame df зі стовпцями: групи - "grps" та значення - "vals":

In [81]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
df

   grps  vals
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87

Для кожної групи знайдіть суму трьох найбільших значень.
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 3хв
```

## Scipy & Matplotlib

### 12. За допомогою scipy згенерувати та за допомогою matplotlib побудувати вибірки, правильно підписавши осі та назвавши графік з обраними відповідними параметрами(завдання на повторення):

#### 12.1. Виібрку з нормально розподіленої випадкової величини:
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 2хв
```

#### 12.2. Вибірку з розподілу Бернулі:
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 2хв
```

#### 12.3. Вибірку з біноміального розподілу:
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 2хв
```

#### 12.4. Вибірку з розподілу Пуассона:
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 2хв
```