# DataRoot University DS100 Test #2
На проходження тесту виділяється 100 і одна хвилина.

## Python

### 1.  Реалізуйте функцію для видалення дублікатів зі списку списків:
У відповідь вивести результат роботи ф-ції для наступного списку:
```
[[10, 20], [40], [30, 56, 25], [10, 20], [33], [40], [42], [10, 42], [42]]
```


```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 5хв
```

In [7]:
def del_duplicates(lists):
    l = []
    for i in lists:
        if l.count(i) < 1:
            l.append(i)
    
    return l
    
    
l1 = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40], [42], [10, 42], [42]]
del_duplicates(l1)

[[10, 20], [40], [30, 56, 25], [33], [42], [10, 42]]

### 2.  Реалізуйте функцію str -> dict, таку, що ключем dict є символ строки, а значенням - його кількість в початковій str:
У відповідь вивести результат роботи ф-ції для наступної строки:
```"DataRoot University DS100 Test #2"```

```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 5хв
```

In [15]:
def str_to_dict(s):
    s = s.lower()
    d = {}
    for i in s:
        d[i] = s.count(i)
    return d

s1 = "DataRoot University DS100 Test #2"
str_to_dict(s1)

{' ': 4,
 '#': 1,
 '0': 2,
 '1': 1,
 '2': 1,
 'a': 2,
 'd': 2,
 'e': 2,
 'i': 2,
 'n': 1,
 'o': 2,
 'r': 2,
 's': 3,
 't': 5,
 'u': 1,
 'v': 1,
 'y': 1}

### 3. Реалізуйте функцію, яка приймає два параметри: к-сть голів та к-сть ніг. За допомогою цієї функції вирішити наступну проблему: ми нарахували 35 голів та 94 ніг серед курей та кроликів на фермі. Скільки кроликів і скільки курей ми маємо?

```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 7хв
```

In [32]:
def kury_kroli(golovy, nogy):
    for i in range(golovy):
        j = golovy - i
        if i+j == golovy and i*2+j*4 == nogy:
            return "Курей: {}, Кроликів: {}".format(i,j) 

print(kury_kroli(35, 94))

Курей: 23, Кроликів: 12

### 4. Реалізуйте клас під назвою Circle, побудований за радіусом та містить два способи, які обчислюють площу та периметр.

```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 5хв
```

In [36]:
import math

class Circle:
    
    def __init__( self, r=0):
      self.r = r
    
    def area(self):
        return math.pi*self.r**2
    
    def perimeter(self):
        return 2*self.r*math.pi
    
pt1 = Circle(4)
print(pt1.area())

50.26548245743669

### 5.  Реалізуйте декоратор, який логує аргументи функцій та повернене значення кожного виклику. Необхідно виводити як позиційні(```*args```), так й іменовані аргументи(```**kwargs```):

Приклад застосування вашого декоратору в результаті:
```
>>> @log
... def func(*args):
...   return len(args)
>>> func(4, 4, 4)
you called func(4, 4, 4)
it returned 3
3
```

```
```
```
```
```
```
```
Максимальна оцінка: 4 бали
Рекомендований час: 15хв
```

In [18]:

def log(func):
    return len(func.func_code.co_varnames)
    

@log
def func(*args):
    return len(args)

func(4, 4, 4)

AttributeError: 'function' object has no attribute 'func_code'

## Libraries: numpy, scipy, pandas, matplotlib

### Numpy

### 6. Розв'яжіть систему рівнянь:


\begin{equation*}
 \begin{cases}
   x + y - z + 2 = 0
   \\
   3x - y + 2z - 9 = 0
   \\
   4x + 4y - 3z + 5 = 0
 \end{cases}
\end{equation*}

```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 5хв
```

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp
%matplotlib inline

In [26]:
a = np.array([[1,1,-1], [3,-1,2], [4,4,-3]])
b = np.array([-2,9,-5])
x = sp.linalg.solve(a,b)
x

array([ 1.,  0.,  3.])

### 7. Дана матриця:
\begin{align}
A = \begin{bmatrix}
    17 & 24 & 1 & 8 & 15 \\
    23 & 5 & 7 & 14 & 16 \\
    4 & 6 & 13 & 20 & 22 \\
    10 & 12 & 19 & 21 & 3 \\
    11 & 18 & 25 & 2 & 9 \\
\end{bmatrix}
\end{align}
Знайти:

#### 7.1. Транспоновану: $A^{-1}$

```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [29]:
a = np.array([[17,24,1,8,15], [23,5,7,14,16], [4,6,13,20,22], [10,12,19,21,3], [11,18,25,2,9]])
a.T

array([[17, 23,  4, 10, 11],
       [24,  5,  6, 12, 18],
       [ 1,  7, 13, 19, 25],
       [ 8, 14, 20, 21,  2],
       [15, 16, 22,  3,  9]])

#### 7.2. Детермінант: $\det A$

```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [36]:
np.linalg.det(a)

5069999.9999999972

#### 7.3. Слід: $\DeclareMathOperator{\tr}{Tr}\tr A$
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [37]:
np.trace(a)

65

#### 7.4. Доказати, що матриця А є магічним квадратом.
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 5хв
```

In [71]:
print("Сума рядочків: {}".format(sum(a)))
print("Сума стовпців: {}".format(sum(a.T)))
print("Сума діагоналі 1: {}".format(sum(np.diagonal(a))))
print("Сума діагоналі 2: {}".format(sum(np.diagonal(a[::-1]))))

Сума рядочків: [65 65 65 65 65]
Сума стовпців: [65 65 65 65 65]
Сума діагоналі 1: 65
Сума діагоналі 2: 65

### Pandas

### 8. Розглянемо наступний словник ```data``` та список ```labels```:

In [138]:
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#### 8.1. Створіть ```DataFrame``` ```df``` з даних словника ```data``` з індексами зі списку ```labels```:
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [139]:
df = pd.DataFrame(data, index = labels)
df

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  2.0    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

#### 8.2. Відобрзіть базову інформацію про цей ```DataFrame``` та його дані:
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [75]:
df.info()

df. describe()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
age         8 non-null float64
animal      10 non-null object
priority    10 non-null object
visits      10 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

#### 8.3. Поверніть перші 3 рядки ```DataFrame``` ```df```:
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [77]:
df.head(3)
df[:3]

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2

#### 8.4. Виберіть стовпчики ```"animal"``` та ```"age"``` з ```DataFrame``` ```df```:
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [82]:
df[['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

#### 8.5 Виберіть дані з рядків ```[3, 4, 8]``` та стовпчиків ```['animal', 'age']```:
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [94]:
df.iloc[[2,3,7]][['animal', 'age']]

  animal  age
c  snake  0.5
d    dog  NaN
h    cat  NaN

#### 8.6. Виберіть лише ті рядки, в яких к-сть візитів більша ніж 3:
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [96]:
df[df['visits']>3]

Empty DataFrame
Columns: [age, animal, priority, visits]
Index: []

#### 8.7. Виберіть рядки, де вік відсутній, тобто ```NaN```:
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [105]:
df[np.isnan(df['age'])]

   age animal priority  visits
d  NaN    dog      yes       3
h  NaN    cat      yes       1

#### 8.8. Виберіть рядки з котами, вік яких менше ніж 3:
```
```
```
```
```
```
```
Максимальна оцінка: 1 бал
Рекомендований час: 2хв
```

In [114]:
df[(df["animal"] == "cat") & (df["age"]<3)]

   age animal priority  visits
a  2.5    cat      yes       1
f  2.0    cat       no       3

#### 8.9. Підрахуйте середній вік для кожного з типів тварин:
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 4хв
```

In [115]:
df.groupby('animal').aggregate({'age':'mean'})

        age
animal
cat     2.5
dog     5.0
snake   2.5

#### 8.10. Відсортуйте ```df``` по-перше за віком в спадаючому порядку, по-друге за к-стю візитів в зростаючому порядку:
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 4хв
```

In [122]:
df.sort_values(['age'], ascending = False)
df.sort_values(['visits'])

   age animal priority  visits
a  2.5    cat      yes       1
g  4.5  snake       no       1
h  NaN    cat      yes       1
j  3.0    dog       no       1
c  0.5  snake       no       2
e  5.0    dog       no       2
i  7.0    dog       no       2
b  3.0    cat      yes       3
d  NaN    dog      yes       3
f  2.0    cat       no       3

#### 8.11. В ```'animal'``` ствобчику, змініть всіх ```'snake'``` на ```'python'```:
```
```
```
```
```
```
```
Максимальна оцінка: 2 бали
Рекомендований час: 4хв
```

In [140]:
df['animal'].replace('snake', 'python')

a       cat
b       cat
c    python
d       dog
e       dog
f       cat
g    python
h       cat
i       dog
j       dog
Name: animal, dtype: object

## Scipy & Matplotlib

### 9. За допомогою scipy згенерувати та за допомогою matplotlib побудувати вибірки, правильно підписавши осі та назвавши графік з обраними відповідними параметрами:

#### 9.1. Виібрку з нормально розподіленої випадкової величини:
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 5хв
```

#### 9.2. Вибірку з розподілу Бернулі:
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 5хв
```

#### 9.3. Вибірку з біноміального розподілу:
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 5хв
```

#### 9.4. Вибірку з розподілу Пуассона:
```
```
```
```
```
```
```
Максимальна оцінка: 3 бали
Рекомендований час: 5хв
```